local QuikQuotesExporter = require('src/quik_quotes_exporter')
return {
    rpcClient = {
        requestFilePath = 'Z:\\dev\\rpcin',
        responseFilePath = 'Z:\\dev\\rpcout',
        idPrefix = 'qe'
    },
    instruments = {
        {
            market = 1,
            symbol = 'SBER',
            classCode = 'TQBR',
            secCode = 'SBER',
            interval = INTERVAL_H1
        }
    },
    workingHours = {
        start = 10,
        finish = 23,
    }
}
